# Environment variables
.env

# Node modules
node_modules/

# Build output
build/
dist/

# Logs
*.log
npm-debug.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Windsurf rules
.windsurfrules
